.feature{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.button-filter-data,.button-add-data{
    border-radius: 3px;
    padding: 7px 10px;
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.2s;
    box-shadow: 0 3px 5px #ccc;
}
.button-add-data i ,.button-filter-data i {
    font-size: 14px;
    margin-right: 5px;
}
.button-filter-data{
    background-color: rgb(0, 196, 196);
    color: white;
}
.button-add-data{
    color: white;
    background-color: rgb(0, 187, 3);
}
.button-add-data:hover{
    background-color: rgb(0, 174, 3);
}
.button-filter-data:hover{
    background-color: rgb(0, 184, 184);
}
.button-search-data{
    display: flex;
    transition: 0.2s;
}
.button-search-data input {
    transition: 0.2s;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    border:1px solid #ccc;
    border-right: none;
    box-sizing: border-box;
    padding: 7px 10px;
}
.button-search-data input:focus{
    transition: 0.2s;
    box-shadow: 0 0 5px  rgba(0, 186, 232, 0.66);
}
.button-search-data span{
    border: 1px solid rgb(10, 86, 217);
    border-left: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 0px 10px;
    color: white;
    background-color: rgb(10, 86, 217);
    cursor: pointer;
    transition: 0.2s;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.button-search-data span:hover{
    background-color: rgb(7, 77, 197);
}

/* CSS TABLE */
.wrapper-tabel-data-kelas table{
    width: 100%;
    border-collapse: collapse;
    border-color: #ccc;
    background-color: white;
}
.wrapper-tabel-data-kelas table thead th {
    padding: 15px;
    font-size: 14px;
    background-color: rgb(10, 86, 217);
    color: white;
}   
.wrapper-tabel-data-kelas table tr{
    transition: 0.2s;
}
.wrapper-tabel-data-kelas table tr:hover{
    background-color: rgba(0, 0, 0, 0.096);
}
.wrapper-tabel-data-kelas table tr td {
    text-align: center;
    font-size: 13px;
    padding: 10px 0px;
}
.wrapper-action {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
}
.wrapper-action i{
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: 0.2s;
}
.wrapper-action i:hover{
    background-color: #ccc;
    filter: brightness(120%);
}


/* POPUP */
.wrapper-popup, .wrapper-popup2{
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.249);
    justify-content: center;
    padding: 10px;
    display: none;
}

.popup-add-data{
    background-color: white;
    width: 40%;
    transition: 0.2s ease-out;
    transform: translateY(-110%);
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: hidden;
    padding-bottom: 95px;
    box-shadow: 0 0 5px #aaa;
    opacity: 0;
}
.popup-add-data.down,.popup-delete-data.down{
    transform: translateY(0%);
    opacity: 1;
}
.wrapper-popup.display, .wrapper-popup2.display{
    display: flex;  
}
.add-data-header,.popup-delete-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 18px;
    font-size: 14px;
    background-color: rgb(10, 86, 217);
    color: white;
    font-weight: 500;
}
.popup-delete-data .content-popup-delete{
    padding: 20px 18px;
    font-size: 14px;
}
.button-confirm-delete{
    display: flex;
    flex-direction: row-reverse;
    padding: 13px 15px;
    border-top: 1px solid #ccc;
}
.button-confirm-delete a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    margin: 0px 5px;
    border-radius: 5px;
    color: white;
    transition: 0.2s;
}
.button-confirm-delete a:nth-child(1){
    background-color: red;
}
.button-confirm-delete a:nth-child(2){
    background-color: #aaa;
}
.button-confirm-delete a:hover{
    filter: brightness(80%);
}
.close-form, .close-delete, .cancel-delete{
    cursor: pointer;
}
.close-delete:hover{
    text-shadow: 0 0 5px #ccc;
    filter: brightness(120%);
    font-weight: bold;
}
.add-data-header .close-form:hover{
    text-shadow: 0 0 5px #ccc;
    filter: brightness(120%);
    font-weight: bold;
}

.form-input-data-kelas {
    min-height: 100%;
}
.table-form{
    max-height: 100%;
    overflow: auto;
}
.form-input-data-kelas table{
    width: 100%;
}
.form-input-data-kelas table tr td:nth-child(1){
    font-size: 14px;
}
.form-input-data-kelas table input{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-family: montserrat;
    transition: 0.2s;
}
.form-input-data-kelas table select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: montserrat;
    transition: 0.2s;
}
.form-input-data-kelas table select:focus{
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 186, 232, 0.66);
}
.form-input-data-kelas table input:focus{
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 186, 232, 0.66);
}
.box-input {
    vertical-align: top;
}
.box-input td{
    padding: 10px 15px;
}
.button-form {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgb(10, 86, 217);
    display: flex;  
    justify-content: end;
    padding: 8px;
}
.button-form button{
    margin: 0px 10px;
    font-size: 12px;
    padding: 8px 12px;
    transition: 0.2s;
}
.cancel-form {
    background-color: rgb(150, 150, 150);
    border: none;
    outline: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.save-form{
    background-color: rgb(0, 219, 73);
    border: none;
    outline: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;

}
.cancel-form:hover{
    background-color: rgb(193, 0, 0);
}
.save-form:hover{
    background-color: rgb(0, 207, 69);
}


.popup-delete-data{
    background-color: white;
    width: 40%;
    transition: 0.2s ease-out;
    transform: translateY(-110%);
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: hidden;
    box-shadow: 0 0 5px #aaa;
    opacity: 0;
}
.popup-delete-data .content-popup-delete{
    padding: 20px 18px;
    font-size: 14px;
}
.button-confirm-delete{
    display: flex;
    flex-direction: row-reverse;
    padding: 13px 15px;
    border-top: 1px solid #ccc;
}
.button-confirm-delete a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    margin: 0px 5px;
    border-radius: 5px;
    color: white;
    transition: 0.2s;
}
.button-confirm-delete a:nth-child(1){
    background-color: red;
}
.button-confirm-delete a:nth-child(2){
    background-color: #aaa;
}
.button-confirm-delete a:hover{
    filter: brightness(80%);
}
.close-form, .close-delete, .cancel-delete{
    cursor: pointer;
}
.close-delete:hover{
    text-shadow: 0 0 5px #ccc;
    filter: brightness(120%);
    font-weight: bold;
}

/* DETAIL kelas CSS */
/* HALAMAN DETAIL */
.detail-header{
    background-color: rgb(10, 86, 217);
    color: white;
    padding: 12px 15px;
    font-weight: bold;
    box-shadow: 0 0 5px #ccc;

}
.detail-wrapper-data-kelas{
    border-top: none;
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.detail-data-kelas-left img{
    width: 180px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 0 5px #ccc;
}
.detail-data-kelas-right{
    padding-left: 10px;
    font-size: 14px;
    width: 100%;
}
.data-kelas{
    background-color: white;
    box-shadow: 0 0 5px #ccc;
    padding: 5px 15px;
    padding-bottom: 20px;
}
.biodata-kelas{
    width: 100%;
}
.detail-wrapper-data-kelas table tr td{
    padding-bottom: 15px;
    padding-right: 10px;
}
.detail-wrapper-data-kelas table tr td:nth-child(2){
    font-weight: bold;
    padding-right: 20px;
}
.detail-wrapper-data-kelas table tr td:nth-child(1){
    font-weight: bold;
}
.detail-back-button{
    margin-top: 15px;
}
.detail-back-button a {
    text-decoration: none;
    font-size: 14px;
    padding: 8px 12px;
    background-color: #aaa;
    color: white;
    border-radius: 3px;
    transition: 0.2s;
}
.detail-back-button a:hover{
    background-color: #555;
    cursor: pointer;
}

/* CSS TABLE */
.wrapper-tabel-data-siswa table{
    width: 100%;
    border-collapse: collapse;
    border-color: #ccc;
    background-color: white;
}
.wrapper-tabel-data-siswa table thead th {
    padding: 15px;
    font-size: 14px;
    /* background-color: rgb(0, 166, 255); */
    color: black;
}   
.wrapper-tabel-data-siswa table tr{
    transition: 0.2s;
}
.wrapper-tabel-data-siswa table tr:hover{
    background-color: rgba(0, 0, 0, 0.096);
}
.wrapper-tabel-data-siswa table tr td {
    text-align: center;
    font-size: 13px;
    padding: 10px 0px;
}
