
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-image: url('/asset/bg-login.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;

}
.containers{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.13);
}
.box-login {
    width: 40%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.651);
    padding: 20px 30px;
}
.login-header {
    display: flex;
    align-items: center;
    font-family: Roboto;
}
.login-header img{
    width: 70px;
}
.login-header .login-header-text{
    padding-left: 10px;
}
.login-header-text div{
    line-height: 1.1;
}
.login-header div:nth-child(1){
    font-weight: 600;
    font-size: 25px;
}
.login-header div:nth-child(2){
    font-weight: 200;
    color: white;
}
.login-form{
    padding: 10px 0px;
}
.form-login input{
    background-color: rgba(255, 255, 255, 0.059);
    color: white;
}
.form-login input:focus{
    background-color: rgba(255, 255, 255, 0.087);
    color: white;
    box-shadow: none;
}
.form-login label{
    color: white;
}
.opsi-login{
    width: 30%;
}
.lowbright{
    filter:brightness(50%);
}